{% extends 'base.html'%}

{% block content %}
<!-- Page Content -->
    <div class="container">

      <!-- Heading -->
      <h1>About Page</h1>

      <!-- Row -->
      <div class="row">

        <div class="col-8">
          <img class="img-fluid bigimg" src="../static/images/C8.jpg" alt="">
        </div>

        <div class="col-4 ams">
          <h3>Everything You Need To Know About Chinese Hot Pot</h3>
          <p>Hot pot is a delicious and fun communal eating experience that is thought to hail from Eastern China. Typically, it involves a huge bowl of broth placed in the center of a table that is heated there via induction or flame. Ingredients ranging from raw vegetables to thinly sliced meats are also placed on the table (or sometimes on a nearby cart) so that diners can submerge them in the broth to cook before eating.</p>

          <p>While it is certainly a popular Chinese dish that you’ll stumble upon when traveling in China, it isn’t terribly common elsewhere. This is a shame because while it sounds a bit like fondue, it’s far more glorious. We’ve love it so much that we even figured out how to make hot pot easily at home (From https://lajollamom.com/chinese-hot-pot/).</p>
       </div>
      </div>

      <!-- Pictures Row -->
      <h3>Comment online</h3>

      <div class="row">
        <div class="col-3">
          <img class="img-fluid smaimg" src="../static/images/C5.jpg" alt="">
          <p><h4>Hygiene: </h4></p>
          <p>This is the most important point. Not paying attention to this could ruin your hot pot. Let your hot pot come to the boil before you dunk stuff into it. If it's not roiling, it's not boiling. Wait a while longer. If you let your impatience get the better of you (as I often do) then you need to have a tummy of steel to stomach the consequences.</p>
        </div>

        <div class="col-3">
          <img class="img-fluid smaimg" src="../static/images/C6.jpg" alt="">
          <p><h4>Etiquette: </h4></p>
          <p>Find out beforehand what the rules for double-dipping are. Though the hot pot miraculously kills germs, not everyone is comfortable with sharing. If so, use the ladles provided for cooking instead.</p>
        </div>

        <div class="col-3">
          <img class="img-fluid smaimg" src="../static/images/C2.jpg" alt="">
          <p><h4>Taste: </h4></p>
          <p>Remember that some foods are less neutral-tasting than others, and have the power to change the taste of the entire hot pot. But beware! With great power comes great responsibility. Fishcake/fishballs tend to be more neutral-tasting, as do most white fish meat. Shellfish can impart a yummy umami sea-flavour. Meats are the most controversial, I often find. Chicken and pork are usually the less controversial flavours, but mutton can impart a certain strong smell to the hot pot that some people may dislike.</p>
        </div>

        <div class="col-3">
          <img class="img-fluid smaimg" src="../static/images/C7.jpg" alt="">
          <p><h4>Cooking Technique: </h4></p>
          <p>Just as the broth comes to the boil, add the items that take moderately long to cook - fishcakes, fishballs, meatballs, but also vegetables that need some time to wilt, such as napa cabbage. When these are cooked, you can start putting in the items that cook in a flash - thinly sliced meats and fish, leafy vegetables.</p>
        </div>
      </div>
    </div>

{% endblock %}

