{% extends 'base.html'%}

{% block content %}

<div class="container">
	<h1>Hot Pot History</h1>

	<div class =""></div>
</div>
Chinese hot pot: a brief history
The concept of Chinese Hot pot (huǒ guō) is believed to date back more than 1,000 years to the time of the Jin Dynasty. Hot pot's roots can be found in the dining practices of Mongolian horsemen who rode across the steppe and into northern China. Legend has it that the Mongols used their helmets as vessels to simmer broth over open fires, and cooked chunks of meat in that broth.

And their shields? They were used as a sort of frying pan to sear meat, of course. Mongol horseman knew how to pack light.

China resisted the Mongols. Heck, they even built the Great Wall to keep them out, which despite its splendour did not succeed. However, the Chinese took a little bit of the good with the bad and incorporated this style of eating, modifying it over the years for themselves. In the centuries that witnessed the growth of the Song Dynasty, hot pot moved — and morphed — further south into China, with each successive region adapting it to their local ingredients and tastes.

{% endblock %}