{% extends 'base.html'%}

{% block content %}
<!-- Page Content -->
<div class="container">

<!--row-->
<div class = "row1">
	<img class="img-fluid C4" alt="Chinese Hot Pot" >
</div>

<div class = "row2">
	<div class = "col-7">
		<h3>Introduction</h3>
		<p>Hot pot is a Chinese cooking method, prepared with a simmering pot of soup stock at the dining table, containing a variety of East Asian foodstuffs and ingredients. While the hot pot is kept simmering, ingredients are placed into the pot and are cooked at the table. Typical hot pot dishes include thinly sliced meat, leaf vegetables, mushrooms, wontons, egg dumplings, tofu, and seafood. The cooked food is usually eaten with a dipping sauce.</p>
	</div>
	<div class="col-5">
		<h3>Contact</h3>
	</div>
</div>



</div>



{% endblock %}